body {
    margin: 0;
}


header {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    
}

.container{
    display: relative;
    margin: 0 auto;
    width: 80%;
}

.headText {
    display: flex;
    gap: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    height: 40px;
}


.headLastText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}


.content{
    display: flex;
    gap: 200px;
    margin-top: 90px;
    margin-left: 130px;
}

.nave{
    width: 500px;
    font-size: 60px;

}


.somOptions{
    text-align: center;
}


.Label{
    display: flex;
    gap: 40px;
    margin-left: 100px;
    margin-top: 40px;
}


.cards{
    margin-top: 60px;
}



